.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  /* Style for "bg" */
  width: 90px;
  height: 36px;
  box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
  border-radius: 4px;
  background-color: #0069d2;
}

.button__content {
  /* Style for "SIGN UP" */
  color: #ffffff;
  font-family: "Open Sans";
  /* font-family: "Proxima Nova Rg"; */
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
}
