.footer {
  /* Style for "bg" */
  min-height: 348px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  background-color:var(--ifit-darkgray);
  padding-bottom: 1rem;
}

.footer__grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(1fr, 184px);
  grid-gap: 1rem;
  justify-content: center;
  padding: 2rem;
  border-bottom: solid 2px var(--ifit-bordergray);

  /* Style for "About  Con" */
  opacity: 0.8;
  color: #ffffff;
  font-family: "Open Sans";
  /* font-family: "Proxima Nova Lt"; */
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 16px;
}

.footer__grid-col__title {
  font-weight: 700;
}

.footer__grid-col ul {
  cursor: pointer;
  margin: 0.5rem 0 0.5 0;
  padding: 0;
}

.footer__socials {
  display: grid;
  grid-gap: 2rem;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: center;
  padding: 1rem;
  border-bottom: solid 2px var(--ifit-bordergray);
}

.footer__legal {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 1rem;
  justify-content: center;
  padding-top: 2rem;
  white-space: nowrap;

  /* Style for "© iFit.com" */
  color: #ffffff;
  font-family: "Open Sans";
  /* font-family: "Proxima Nova Rg"; */
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 16px;
}

.footer__legal-item {
  text-align: center;
  cursor: pointer;
}

.footer__language {
  justify-self: center;
}


@media only screen and (min-width: 768px) {
  .footer__grid {
    grid-gap: 5.5rem;
  }

  .footer__legal {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, auto);
    padding-bottom: 0;
  }

  .footer__language {
    position: absolute;
    left: 2rem;
  }
}
