.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

.main-nav__logo {
  cursor: pointer;
}

.main-nav__navs {
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2.5rem;
}

.main-nav__nav {
  cursor: pointer;

  /* Style for "EXERCISE" */
  color: rgba(46, 49, 52, 0.8);
  font-family: "Open Sans";
  /* font-family: "Proxima Nova Lt"; */
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 14px;
  text-transform: uppercase;
}
