:root {
  --ifit-bordergray: #585a5d;
  --ifit-darkgray: #2e3134;
  --ifit-gray: #d5d6d6;
  --ifit-blue: #0069d2;

  --max-width: 1440px;

  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Open Sans'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}
